@use "variables" as vars

@mixin disable-select()
    -webkit-user-drag: none
    -webkit-touch-callout: none
    -webkit-app-region: no-drag
    user-select: none
    
@mixin window-border($thickness: calc(vars.$border-thickness * 2), $primary: rgba(255, 255, 255, 0.25), $secondary: rgba(0, 0, 0, 0.75))
    border: $thickness solid $primary
    outline: $thickness solid $secondary

@mixin scale($scale)
    transform-origin: center
    transform: scale($scale)

@mixin menu-dropdown($width: 22rem, $height: auto)
  display: none
  position: fixed
  top: vars.$menubar-height
  font-size: vars.$menubar-font-size
  z-index: 1
  padding: calc(vars.$padding / 2)
  width: $width
  height: $height
  background: rgba(45, 45, 45, 0.55)
  border-radius: 0.75rem
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25)
  backdrop-filter: blur(2.75rem)
  @include disable-select()
  @include window-border()

@mixin searchbar($width, $height, $background, $font-size, $padding, $icon-color)
    width: $width
    height: $height
    color: white
    background: $background
    position: relative
    border-radius: vars.$border-radius
    border: calc(vars.$border-thickness * 2) solid rgba(255, 255, 255, 0.15)
    @include disable-select()

    input
        background: none
        border: none
        color: rgba(255, 255, 255, 0.8)
        height: 100%
        width: 100%
        font-size: $font-size
        line-height: normal
        padding: 0 $padding 0 calc(($padding * 2) + $font-size)
        outline: none
        border-radius: vars.$border-radius

        &[type=search]
            &::-ms-clear, &::-ms-reveal
                display: none
                width: 0
                height: 0

        &[type="search"]
            &::-webkit-search-decoration, &::-webkit-search-cancel-button, &::-webkit-search-results-button, &::-webkit-search-results-decoration
                display: none

        &::placeholder
            color: rgba(255, 255, 255, 0.5)

        &::selection
            background: rgba(255, 255, 255, 0.25)
            color: rgba(255, 255, 255, 0.9)

    &::before
        content: "\f002"
        position: absolute
        font-family: "Font Awesome 6 Free"
        font-weight: 600
        font-size: $font-size
        color: $icon-color
        padding: calc($padding / 2) $padding

@mixin button($padding, $margin, $font-size, $background, $active-background)
    padding: $padding
    font-family: vars.$font-family
    margin: $margin
    font-size: $font-size
    line-height: $font-size
    border-width: 0
    color: white
    cursor: default
    background: $background
    border-radius: 0.625rem
    @include disable-select()

    &:active
      background: $active-background

@mixin header-spacing($icons-dim: vars.$window-icons-dim, $icons-spacing: vars.$windows-icons-spacing)
    width: calc(($icons-dim * 3) + ($icons-spacing * 2)) // 5.6rem = 1.4rem * 3 + (.7rem * 2)

@mixin window($body-color, $width, $height: min-content, $min-width: vars.$min-width, $min-height: vars.$min-height, $max-width: vars.$max-width, $max-height: vars.$max-height)
    background: $body-color
    display: none
    position: absolute !important
    inset: 0
    width: $width
    height: $height
    max-width: $max-width
    max-height: $max-height
    min-width: $min-width
    min-height: $min-height
    word-wrap: break-all
    overflow: hidden
    text-wrap: wrap
    overflow-wrap: anywhere
    border-radius: 1rem
    box-shadow: vars.$box-shadow
    @include window-border()

@mixin buttons($button-dim: vars.$window-icons-dim)
    display: flex
    align-items: center

    &-icon
        width: $button-dim
        height: $button-dim
        position: relative
        cursor: default
        border-radius: 50%
        @include disable-select()

        &:before, &:after
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            margin: auto
            opacity: 0

        &:hover
            &:before, &:after
                top: 0
                opacity: 1

        &:not(:last-child)
            margin-right: vars.$windows-icons-spacing

        &--red, &--yellow, &--green
            &:before
                text-align: center
                font-family: "Font Awesome 6 Free"
                font-weight: 600
                line-height: calc($button-dim * 1.05)
                font-size: calc($button-dim * 0.8)

        &--red
            background: var(--red, #ed6a5e)

            &:hover
                background: #ed6a5e
                
            &:active
                background: #f09389

            &:before
                content: "\f00d"
                color: rgb(142, 27, 18)
                        
        &--yellow
            background: var(--yellow, #f5bf4f)

            &:hover
                background: #f5bf4f

            &:active
                background: #fcea74

            &:before
                content: "\f068"
                color: rgb(169, 114, 41)

        &--green
            background: var(--green, #62c554)

            &:hover
                background: #62c554

            &:active
                background: #85ef7d
                    
            &:before
                content: "\f067"
                color: rgb(41, 96, 24)

@mixin header($bg-color: none, $height: vars.$header-height, $padding: 2rem 1.4rem 1.4rem 1.4rem, $button-dim: vars.$window-icons-dim)
    position: relative
    background: $bg-color
    height: $height
    padding: $padding
    display: flex
    align-items: center
    justify-content: space-between

    &__op
        @include buttons($button-dim)

@mixin header-title($img-size, $spacing, $font-size: 1.36rem)
    color: vars.$font-color
    font-family: "Arial", sans-serif
    font-size: $font-size
    font-weight: bold
    @include disable-select()

    img
        display: inline
        width: $img-size
        height: $img-size
        margin-right: $spacing