@use "variables" as vars

@mixin supports($property, $value)
    @supports (#{$property}: #{$value})
        #{$property}: #{$value}

@mixin disable-select()
    @include supports(-webkit-user-drag, none)
    @include supports(-webkit-touch-callout, none)
    @include supports(-webkit-user-select, none)
    @include supports(-moz-user-select, none)
    @include supports(-ms-user-select, none)
    @include supports(-user-select, none)
    @include supports(-webkit-app-region, no-drag)

@mixin grid()
    @include supports(display, -ms-grid)
    @include supports(display, grid)

@mixin box-sizing($value: border-box)
    @include supports(-moz-box-sizing, $value)
    @include supports(-webkit-box-sizing, $value)
    @include supports(box-sizing, $value)

@mixin transition($value)
    @include supports(-webkit-transition, $value)
    @include supports(-o-transition, $value)
    @include supports(transition, $value)

@mixin flex()
    @include supports(display, -moz-box)
    @include supports(display, -moz-flex)
    @include supports(display, -webkit-box)
    @include supports(display, -webkit-flex)
    @include supports(display, -ms-flexbox)
    @include supports(display, flex)

@mixin border-radius($radius: vars.$border-radius)
    @include supports(-webkit-border-radius, $radius)
    @include supports(-moz-border-radius, $radius)
    @include supports(-ms-border-radius, $radius)
    @include supports(-o-border-radius, $radius)
    @include supports(border-radius, $radius)

@mixin inline-flex()
    @include supports(display, -webkit-inline-box)
    @include supports(display, -webkit-inline-flex)
    @include supports(display, -moz-inline-flex)
    @include supports(display, -moz-inline-box)
    @include supports(display, -ms-inline-flexbox)
    @include supports(display, inline-flex)

@mixin flex-wrap($wrap)
    @if ($wrap == nowrap)
        @include supports(-ms-flex-wrap, nowrap)

    @else 
        @include supports(-ms-flex-wrap, $wrap)

    @include supports(-webkit-box-lines, $wrap)
    @include supports(-moz-box-lines, $wrap)
    @include supports(-webkit-flex-wrap, $wrap)
    @include supports(-moz-flex-wrap, $wrap)
    @include supports(flex-wrap, $wrap)

@mixin align-items($position)
    @if ($position == flex-start)
        @include supports(-webkit-box-align, start)
        @include supports(-moz-box-align, start)
        @include supports(-ms-grid-row-align, start)
        @include supports(-ms-flex-align, start)

    @else if ($position == flex-end)
        @include supports(-webkit-box-align, end)
        @include supports(-moz-box-align, end)
        @include supports(-ms-grid-row-align, end)
        @include supports(-ms-flex-align, end)
    
    @else
        @include supports(-webkit-box-align, $position)
        @include supports(-moz-box-align, $position)
        @include supports(-ms-grid-row-align, $position)
        @include supports(-ms-flex-align, $position)

    @include supports(-webkit-align-items, $position)
    @include supports(-moz-align-items, $position)
    @include supports(align-items, $position)

@mixin align-content($alignment)
    @include supports(-webkit-align-content, $alignment)
    @include supports(-moz-align-content, $alignment)
    @include supports(-ms-flex-line-pack, $alignment)
    @include supports(align-content, $alignment)

@mixin align-self($alignment)
    @include supports(-webkit-align-self, $alignment)
    @include supports(-moz-align-self, $alignment)
    @include supports(align-self, $alignment)

@mixin justify-content($position)
    @if ($position == flex-start)
        @include supports(-webkit-box-pack, start)
        @include supports(-ms-flex-pack, start)
        @include supports(-moz-box-pack, start)

    @else if ($position == flex-end)
        @include supports(-webkit-box-pack, end)
        @include supports(-ms-flex-pack, end)
        @include supports(-moz-box-pack, end)
    
    @else if ($position == space-between)
        @include supports(-webkit-box-pack, justify)
        @include supports(-ms-flex-pack, justify)
        @include supports(-moz-box-pack, justify)
    
    @else if ($position == space-around)
        @include supports(-ms-flex-pack, center)
    
    @else
        @include supports(-webkit-box-pack, $position)
        @include supports(-ms-flex-pack, $position)
        @include supports(-moz-box-pack, $position)

    @include supports(-webkit-justify-content, $position)
    @include supports(-moz-justify-content, $position)
    @include supports(justify-content, $position)

@mixin flex-direction($direction)
    @if ($direction == column)
        @include supports(-webkit-box-orient, vertical)
        @include supports(-webkit-box-direction, normal)
    
    @else if ($direction == row)
        @include supports(-webkit-box-orient, horizontal)
        @include supports(-webkit-box-direction, normal)

    @include supports(-webkit-flex-direction, $direction)
    @include supports(-ms-flex-direction, $direction)
    @include supports(flex-direction, $direction)

@mixin window-border($thickness: calc(vars.$border-thickness * 2), $primary: rgba(255, 255, 255, 0.25), $secondary: rgba(0, 0, 0, 0.75))
    border: $thickness solid $primary
    outline: $thickness solid $secondary

@mixin transform($transform)
    @include supports(-moz-transform, $transform)
    @include supports(-ms-transform, $transform)
    @include supports(-o-transform, $transform)
    @include supports(-webkit-transform, $transform)
    @include supports(transform, $transform)

@mixin scale($scale)
    -moz-transform-origin: center
    -ms-transform-origin: center
    -o-transform-origin: center
    -webkit-transform-origin: center
    transform-origin: center
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=#{calc($scale - 0.1)}, M12=0, M21=0, M22=#{calc($scale - 0.1)}, SizingMethod="auto expand")
    -moz-transform: scale($scale)
    -ms-transform: scale($scale)
    -o-transform: scale($scale)
    -webkit-transform: scale($scale)
    transform: scale($scale)

@mixin text-shadow($x: 0, $y: 0, $radius: 0.75rem, $color: rgba(0, 0, 0, 0.25))
    text-shadow: $x $y $radius $color

@mixin box-shadow($shadow: vars.$box-shadow)
    @include supports(-webkit-box-shadow, $shadow)
    @include supports(-moz-box-shadow, $shadow)
    @include supports(box-shadow, $shadow)

@mixin brightness($percent: 75%)
    @include supports(-webkit-filter, brightness($percent))
    @include supports(-moz-filter, brightness($percent))
    @include supports(-ms-filter, brightness($percent))
    @include supports(filter, brightness($percent))
    
@mixin blur($blur-strength: 0.8rem)
    @include supports(-webkit-backdrop-filter, blur($blur-strength))
    @include supports(-moz-backdrop-filter, blur($blur-strength))
    @include supports(-ms-backdrop-filter, blur($blur-strength))
    @include supports(backdrop-filter, blur($blur-strength))
    
@mixin appearance($value: none)
    @include supports(-webkit-appearance, $value)
    @include supports(-moz-appearance, $value)
    @include supports(appearance, $value)

@mixin searchbar($width, $height, $background, $font-size, $padding, $icon-color)
    width: $width
    height: $height
    color: white
    background: $background
    position: relative
    border: calc(vars.$border-thickness * 2) solid rgba(255, 255, 255, 0.15)
    @include disable-select()
    @include border-radius(vars.$border-radius)

    input
        background: none
        border: none
        color: rgba(255, 255, 255, 0.8)
        height: 100%
        width: 100%
        font-size: $font-size
        line-height: normal
        padding: 0 $padding 0 calc(($padding * 2) + $font-size)
        outline: none
        @include border-radius(vars.$border-radius)

        &[type=search]
            &::-ms-clear, &::-ms-reveal
                display: none
                width: 0
                height: 0

        &[type="search"]
            &::-webkit-search-decoration, &::-webkit-search-cancel-button, &::-webkit-search-results-button, &::-webkit-search-results-decoration
                display: none

        &::placeholder
            color: rgba(255, 255, 255, 0.5)

        &::selection
            background: rgba(255, 255, 255, 0.25)
            color: rgba(255, 255, 255, 0.9)

    &::before
        content: "\f002"
        position: absolute
        font-family: "Font Awesome 6 Free"
        font-weight: 600
        font-size: $font-size
        color: $icon-color
        padding: calc($padding / 2) $padding

@mixin button($padding, $margin, $font-size, $background, $active-background)
    padding: $padding
    font-family: vars.$font-family
    margin: $margin
    font-size: $font-size
    line-height: $font-size
    border-width: 0
    color: white
    cursor: default
    background: $background
    @include border-radius(0.625rem)

    &:active
      background: $active-background

@mixin header-spacing($icons-dim: vars.$window-icons-dim, $icons-spacing: vars.$windows-icons-spacing)
    width: calc(($icons-dim * 3) + ($icons-spacing * 2)) // 5.6rem = 1.4rem * 3 + (.7rem * 2)

@mixin window($body-color, $width, $height: min-content, $min-width: vars.$min-width, $min-height: vars.$min-height, $max-width: vars.$max-width, $max-height: vars.$max-height)
    background: $body-color
    display: none
    position: absolute
    inset: 0
    width: $width
    height: $height
    max-width: $max-width
    max-height: $max-height
    min-width: $min-width
    min-height: $min-height
    word-wrap: break-all
    overflow-y: hidden
    overflow-x: auto
    text-wrap: wrap
    overflow-wrap: anywhere
    @include window-border()
    @include box-shadow()
    @include border-radius(1rem)

@mixin buttons($button-dim: vars.$window-icons-dim)
    @include flex()
    @include align-items(center)

    &-icon
        width: $button-dim
        height: $button-dim
        position: relative
        cursor: default
        @include disable-select()
        @include border-radius(50%)

        &:before, &:after
            content: ""
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            margin: auto
            opacity: 0

        &:hover
            &:before, &:after
                top: 0
                opacity: 1

        &:not(:last-child)
            margin-right: vars.$windows-icons-spacing

        &--red, &--yellow, &--green
            &:before
                background-position: center
                background-repeat: no-repeat
                background-size: calc(vars.$window-icons-dim + 0.1rem)

        &--red
            background: var(--red, #ed6a5e)

            &:hover
                background: #ed6a5e
                
            &:active
                background: #f09389

            &:before
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20enable-background%3D%22new%200%200%2085.4%2085.4%22%20viewBox%3D%220%200%2010%2010%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2210%22%3E%3Cg%20clip-rule%3D%22evenodd%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20fill%3D%22rgb%28142%2C%2027%2C%2018%29%22%3E%3Cpath%20d%3D%22m2.635%206.768%204.133%20-4.133c0.164%20-0.164%200.422%20-0.164%200.585%200l0.012%200.012c0.164%200.164%200.164%200.422%200%200.585L3.232%207.365c-0.164%200.164%20-0.422%200.164%20-0.585%200l-0.012%20-0.012c-0.152%20-0.164%20-0.152%20-0.422%200%20-0.585%22%2F%3E%3Cpath%20d%3D%22m3.232%202.635%204.133%204.133c0.164%200.164%200.164%200.422%200%200.585l-0.012%200.012c-0.164%200.164%20-0.422%200.164%20-0.585%200L2.635%203.232c-0.164%20-0.164%20-0.164%20-0.422%200%20-0.585l0.012%20-0.012c0.164%20-0.152%200.422%20-0.152%200.585%200%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E")
                        
        &--yellow
            background: var(--yellow, #f5bf4f)

            &:hover
                background: #f5bf4f

            &:active
                background: #fcea74

            &:before
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20enable-background%3D%22new%200%200%2085.4%2085.4%22%20viewBox%3D%220%200%2010%2010%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2210%22%3E%3Cg%20clip-rule%3D%22evenodd%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M2.084%204.578h5.843c0.222%200%200.41%200.187%200.41%200.41v0.012c0%200.222%20-0.187%200.41%20-0.41%200.41H2.084c-0.222%200%20-0.41%20-0.187%20-0.41%20-0.41v-0.012c0%20-0.222%200.176%20-0.41%200.41%20-0.41%22%20fill%3D%22rgb%28169%2C%20114%2C%2041%29%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")

        &--green
            background: var(--green, #62c554)

            &:hover
                background: #62c554

            &:active
                background: #85ef7d
                    
            &:hover, &:active:after
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20enable-background%3D%22new%200%200%2085.4%2085.4%22%20viewBox%3D%220%200%2010%2010%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2210%22%3E%3Cg%20clip-rule%3D%22evenodd%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M7.616%202.923H3.864c-0.506%200%20-0.913%200.407%20-0.913%200.913V7.588zM4.356%209.063h3.766c0.506%200%200.913%20-0.407%200.913%20-0.913V4.384z%22%20fill%3D%22rgb%2841%2C%2096%2C%2024%29%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")

@mixin header($bg-color: none, $height: vars.$header-height, $padding: 2rem 1.4rem 1.4rem 1.4rem, $button-dim: vars.$window-icons-dim)
    position: relative
    background: $bg-color
    height: $height
    padding: $padding
    @include flex()
    @include align-items(center)
    @include justify-content(space-between)

    &__op
        @include buttons($button-dim)

@mixin header-title($img-size, $spacing, $font-size: 1.36rem)
    color: vars.$font-color
    font-family: "Arial", sans-serif
    font-size: $font-size
    font-weight: bold
    @include disable-select()

    img
        display: inline
        width: $img-size
        height: $img-size
        margin-right: $spacing