@use "mixins" as mix
@use "variables" as vars

$body-color: rgba(30, 30, 30, 0.75)
$button-size: 4.2rem
$width: 20rem
$height: min-content

.button
  height: $button-size
  width: $button-size
  margin: calc($button-size / 15)
  font-family: vars.$font-family
  display: flex
  align-items: center
  justify-content: center
  border-radius: 50%
  color: white
  text-align: center
  cursor: default

.yellow, .light-grey
  font-weight: 200

.yellow
  background-color: rgb(241, 154, 55)

  &:active
    background-color: rgb(244, 201, 149)

.dark-grey
  background-color: rgb(81, 83, 81)
  font-weight: 300

  &:active
    background-color: rgb(129, 131, 129)

.light-grey
  background-color: rgb(113, 111, 113)

  &:active
    background-color: rgb(142, 144, 142)

.calc
  @include mix.window($body-color, $width, $height, $width, $height, $width, $height)
  @include mix.disable-select()
  backdrop-filter: blur(1.5rem)
  padding: 0 calc(vars.$padding / 2) calc(vars.$padding / 2) calc(vars.$padding / 2)

  .screen
    height: 3.25rem
    overflow: hidden
    margin-top: calc(vars.$padding * 2)
    margin-bottom: vars.$padding

  .calc-header
    @include mix.header(none, 3rem)

    &__op-icon--green
      background: rgba(255, 255, 255, 0.2)

      &:hover, &:hover:active
        background: rgba(255, 255, 255, 0.2)

      &:hover, &:active:after
        background-image: none