@use "variables" as vars
@use "mixins" as mix

$dock-icon-size: 4.5rem
$dock-border-radius: 1.6rem

.divider
  border-left: 0.14rem solid rgba(255, 255, 255, 0.15)

footer
  position: fixed
  bottom: vars.$padding
  width: 100%
  @include mix.inline-flex()
  @include mix.justify-content(center)

.dock
  border: 0.125rem solid rgba(255, 255, 255, 0.05)
  padding: vars.$padding
  z-index: 10
  grid-auto-flow: column
  grid-gap: calc(vars.$padding / 4) //0.3rem
  @include mix.blur(1.3rem, vars.$dock-menu-background)
  @include mix.disable-select()
  @include mix.grid()
  @include mix.border-radius($dock-border-radius)
  @include mix.box-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.25))

  a
    cursor: default

  .icon
    height: $dock-icon-size
    width: $dock-icon-size
    place-items: center
    -ms-grid-columns: 1
    grid-template-columns: 1
    -ms-grid-rows: 1
    grid-template-rows: 1
    @include mix.grid()
    @include mix.align-content(center)

    // Compatibility with IE
    > *:nth-child(1)
      -ms-grid-row: 1
      grid-row: 1
      -ms-grid-column: 1
      grid-column: 1

    img
      grid-column: 1 / -1
      grid-row: 1 / -1
      width: 100%
      height: 100%
      max-width: 100%
      max-height: 100%
      -o-object-fit: cover
      object-fit: cover
      //pointer-events: none
      image-rendering: smooth
      @include mix.disable-select()

      &:active
        @include mix.brightness()