@use "variables" as vars
@use "mixins" as mix
@use "sass:list"
@use "sass:math"

$email-body-color: rgb(32, 35, 32)
$email-accent-color: rgb(54, 56, 54)
$email-title-color: rgb(155, 156, 154)
$email-tab-color: rgb(55, 56, 55)
$email-font-size: 1.3rem
$email-line-height: 1.3
$send-email-btn-dim: 1.7rem
$recaptcha-scale: 0.45
$loader-colors: #0fa503, #ffd203, #54cd28, #129cf5, #bb5ed3, #ff4f45

//linear-gradient(to bottom, #C7C6C7 0%, #C2C0C2 100%)

.email
  font-size: $email-font-size
  line-height: $email-line-height
  font-family: vars.$font-family
  flex-direction: column
  align-content: stretch
  @include mix.window($email-tab-color, vars.$width, vars.$height)

  &-header
    border-bottom: 0.15rem solid rgb(12, 13, 12)
    @include mix.header(none, vars.$header-height, 0 1.4rem)

    .g-recaptcha
      overflow: auto
      @include mix.scale($recaptcha-scale)

      @for $i from 1 through 6
        @media screen and (max-width: calc(vars.$width-threshold - ($i * vars.$threshold-diff)))
          @if $i <= 2
            @include mix.scale(calc($recaptcha-scale - 0.05))

          @else
            @include mix.scale(calc($recaptcha-scale - (($i - 1) * 0.05)))

    button
      color: white
      background: none
      outline: 0
      border: 0

      i
        font-size: $send-email-btn-dim

        @for $i from 1 through 7
          @media screen and (max-width: calc(vars.$width-threshold - ($i * vars.$threshold-diff)))
            font-size: calc($send-email-btn-dim * (1 + ($i * 0.05)))

  .middle
    padding: 0 1.5rem
    background: $email-body-color
    overflow: auto
    font-size: $email-font-size
    line-height: $email-line-height
    font-family: vars.$font-family
    color: $email-title-color
    width: 100%

    input
      display: inline-block
      background: none
      border: 0
      outline: 0
      font-size: $email-font-size
      line-height: $email-line-height
      font-family: vars.$font-family
      color: white
      width: 100%

    .subject
      width: 100%
      border-bottom: 1px solid $email-accent-color
      display: block
      padding: 0.7rem 0.2rem

      label
        float: left

        &:after
          content: ": "

      .right
        overflow: hidden
        display: block
        padding-left: 3px
          
  .body
    color: white
    display: block
    width: 100%
    background: $email-body-color
    padding: 0.7rem 1.7rem
    overflow: auto
    color: white
    font-size: $email-font-size
    line-height: $email-line-height
    font-family: vars.$font-family
    flex: 1

  textarea
    background: none
    resize: none
    outline: 0
    border: 0
    font-family: vars.$font-family
    font-size: $email-font-size
    line-height: $email-line-height

    &::placeholder
      color: white

.honeypot-field, .loader
  display: none

// Cursor during sending
.loader
  position: absolute
  top: 50%
  left: 50%
  width: 2.5rem
  height: 2.5rem
  overflow: hidden
  border-radius: 50%
  animation: animate 0.5s linear infinite
  transform: translate(-50%, -50%)

  span
    position: absolute
    width: 100%
    height: 100%
    background: #f00
    left: 50%
    transform-origin: left
    border-radius: 50%

    @for $i from 1 through 6
      &:nth-child(#{$i})
        background: list.nth($loader-colors, $i)
        z-index: calc($i + 1)
        transform: rotate(calc(($i - 1) * 60deg))

        @if $i == 6
          overflow: hidden

          &:before, &::after
            content: ""
            position: absolute
            width: 100%
            height: 100%
            border-radius: 50%

          &:before
            top: 45px
            left: -72px
            background: #ffd203
            z-index: 2

          &:after
            top: 42px
            left: -23px
            background: #fea503

@keyframes animate
  0%
    transform: translate(-50%, -50%) rotate(0deg)

  100%
    transform: translate(-50%, -50%) rotate(360deg)

// Notification after email successfully sent
.toastify
  padding: vars.$padding-4x
  right: calc(vars.$menubar-height / 2) // 1.5rem
  top: calc(-10 * (vars.$menubar-height / 2)) // -15rem
  color: white
  display: inline-block
  backdrop-filter: blur(0.8rem)
  box-shadow: 0 1.5rem 2.5rem 0 rgba(0, 0, 0, 0.5)
  background: rgba(45, 45, 45, 0.8)
  position: fixed
  opacity: 0
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1)
  border-radius: calc(vars.$border-radius * 2)
  cursor: default
  text-decoration: none
  max-width: calc(50% - vars.$padding-4x)
  z-index: 2147483647
  border: 0
  outline: 0

  &.on
    opacity: 1

@media only screen and (max-width: 360px)
  .toastify
    margin-left: auto
    margin-right: auto
    left: 0
    right: 0
    max-width: fit-content