@use "variables" as vars
@use "mixins" as mix

$menubar-padding: 0.55rem
$menubar-icon-size: 1.1rem

.menu-bar
  @include mix.blur(5rem, vars.$dock-menu-background)
  @include mix.disable-select()
  width: 100%
  height: vars.$menubar-height
  font-family: vars.$font-family
  font-weight: 400
  padding: 0.2rem
  position: fixed
  font-size: 1.24rem
  top: 0
  left: 0
  cursor: default
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between

  i
    display: contents
    color: #FFF

  .left, .right
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    -webkit-box-pack: space-evenly
    -ms-flex-pack: space-evenly
    justify-content: space-evenly
    width: auto

    .menus
      height: 100%
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      -webkit-box-pack: center
      -ms-flex-pack: center
      justify-content: center
      -webkit-box-align: center
      -ms-flex-align: center
      align-items: center
      color: vars.$menubar-font-color
      border-radius: vars.$border-radius
      padding: calc($menubar-padding / 2) $menubar-padding

      i
        font-size: $menubar-icon-size

      &:active
        background: rgba(255, 255, 255, 0.2)

  .left
    padding-left: calc($menubar-padding + 0.25rem)

    .apple i
      font-size: calc($menubar-icon-size + 0.4rem)

    .active
      font-weight: bold

  .right
    padding-right: calc($menubar-padding + 0.25rem)

    .menu-time
      width: 6.25rem
      text-align: center

    .menu-ico
      padding: calc(((vars.$menubar-height - $menubar-icon-size + $menubar-padding) / 2) - $menubar-padding) $menubar-padding

      img
        height: calc($menubar-icon-size + 0.1rem)

#playlist
  @include mix.blur(5rem, rgba(45, 45, 45, 0.6))
  @include mix.disable-select()
  display: none
  position: fixed
  top: vars.$menubar-height
  z-index: 1
  border-radius: 0.75rem
  border: 1px solid rgba(255, 255, 255, 0.17)
  outline: 1px solid rgba(0, 0, 0, 0.75)
  padding: calc($menubar-padding / 2)
  width: 22rem
  height: auto

  .playlist-player, .playlist-buttons
    display: flex
  
  .playlist-buttons
    justify-content: space-evenly
    padding: calc($menubar-padding / 2.25) $menubar-padding calc($menubar-padding * 1.5) $menubar-padding

  i
    z-index: 100
    color: vars.$menubar-font-color
    font-size: 1.6rem

// .dropdown
//   position: relative
//   display: inline-block

// .dropdown-content
//   @include mix.blur(2.25rem, rgba(45, 45, 45, 0.5))
//   font-family: vars.$font-family
//   color: vars.$menubar-font-color
//   inline-size: min-content
//   border-radius: 1rem
//   border: 1px solid rgba(255, 255, 255, 0.17)
//   outline: 1px solid rgba(0, 0, 0, 0.75)
//   display: none
//   position: absolute
//   min-width: 20rem
//   overflow: auto
//   -webkit-box-shadow: vars.$box-shadow
//   box-shadow: vars.$box-shadow

//   // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
  
//   a
//     padding: 5px 10px
//     text-decoration: none
//     display: block

//     &:hover
//       background-color: blue

// .show
//   display: block