@use "variables" as vars
@use "mixins" as mix

$menubar-icon-size: 1.1rem

.menu-bar
  width: 100%
  height: vars.$menubar-height
  font-family: vars.$font-family
  font-weight: 400
  padding: 0.2rem
  position: fixed
  font-size: 1.24rem
  top: 0
  left: 0
  cursor: default
  background: vars.$dock-menu-background
  display: flex
  justify-content: space-between
  align-items: center
  backdrop-filter: blur(5rem)
  @include mix.disable-select()

  i
    display: contents
    color: #FFF

  .left, .right
    width: auto
    display: flex
    align-items: center
    justify-content: space-evenly

    .menus
      height: 100%
      color: vars.$menubar-font-color
      padding: calc(vars.$padding / 2) vars.$padding
      display: flex
      align-items: center
      justify-content: center
      border-radius: vars.$border-radius

      i
        font-size: $menubar-icon-size

      &:active
        background: rgba(255, 255, 255, 0.2)

  .left
    padding-left: calc(vars.$padding + 0.25rem)

    .apple i
      font-size: calc($menubar-icon-size + 0.4rem)

    .active
      font-weight: bold

  .right
    padding-right: calc(vars.$padding + 0.25rem)

    .menu-time
      width: max-content
      text-align: center

    .menu-ico
      padding: calc(((vars.$menubar-height - $menubar-icon-size + vars.$padding) / 2) - vars.$padding) vars.$padding

      img
        height: calc($menubar-icon-size + 0.1rem)

#playlist, #wifi-menu
  @include mix.menu-dropdown()

#wifi-menu
  padding: vars.$padding
  font-size: 1.26rem

  .position-title
    display: flex
    justify-content: space-between

  .subtitle, .position-title
    padding: 0 calc(vars.$padding * 2)

  .subtitle, .select-subtitle
    font-size: 1.15rem
    font-weight: 700

  .option
    padding: vars.$padding calc(vars.$padding * 2)

  .select-subtitle, .option:last-child
    padding: calc(vars.$padding / 2) calc(vars.$padding * 2)

  .select-subtitle, .option
    border-radius: vars.$border-radius

    &:hover
      background-color: rgba(255, 255, 255, 0.1)

  .option
    .icon, .icon-selected
      background-color: vars.$font-color
      border-radius: 100%
      padding: calc(vars.$padding * 1.25)

    .icon-selected
      background-color: vars.$secondary-button-color

  .divider, .subtitle, .mini-icon, .select-subtitle
    color: vars.$font-color

  .mini-icon
    align-self: center
    font-size: $menubar-icon-size

  .divider, .divider-last
    border-bottom: calc(vars.$border-thickness / 2) solid vars.$font-color

  .divider
    margin: vars.$padding calc(vars.$padding * 2)

  .divider-last
    margin: vars.$padding 0

  .option, .title
    color: vars.$menubar-font-color

  .top
    padding: vars.$padding calc(vars.$padding * 2)

  .title
    font-size: 1.35rem
    font-weight: 600    

#playlist
  .playlist-player, .playlist-buttons
    display: flex
  
  .playlist-buttons
    justify-content: space-evenly
    padding: calc(vars.$padding / 2.25) vars.$padding calc(vars.$padding * 1.5) vars.$padding

  i
    color: vars.$menubar-font-color
    font-size: 1.6rem