@use "variables" as vars
@use "mixins" as mix

$menubar-icon-size: 1.1rem

.menu-bar
  width: 100%
  height: vars.$menubar-height
  font-family: vars.$font-family
  font-weight: 400
  padding: 0.2rem
  position: fixed
  font-size: vars.$menubar-font-size
  top: 0
  left: 0
  cursor: default
  background: vars.$dock-menu-background
  display: flex
  justify-content: space-between
  align-items: center
  backdrop-filter: blur(5rem)
  @include mix.disable-select()

  i
    display: contents
    color: vars.$menubar-font-color

  .left, .right
    width: auto
    display: flex
    align-items: center
    justify-content: space-evenly

    .menus
      height: 100%
      color: vars.$menubar-font-color
      padding: calc(vars.$padding / 2) vars.$padding
      display: flex
      align-items: center
      justify-content: center
      border-radius: vars.$border-radius

      i
        font-size: $menubar-icon-size

      &:active
        background: rgba(255, 255, 255, 0.2)

  .left
    padding-left: calc(vars.$padding + 0.25rem)

    .apple i
      font-size: calc($menubar-icon-size + 0.4rem)

    .active
      font-weight: bold

  .right
    padding-right: calc(vars.$padding + 0.25rem)

    .menu-time
      width: max-content
      text-align: center

    .menu-ico
      padding: calc(((vars.$menubar-height - $menubar-icon-size + vars.$padding) / 2) - vars.$padding) vars.$padding

      img
        height: calc($menubar-icon-size + 0.1rem)

#playlist, #wifi-menu, #apple-menu, #finder-menu, #edit-menu, #view-menu, #go-menu, #window-menu, #help-menu
  @include mix.menu-dropdown()

#file-menu
  @include mix.menu-dropdown(24rem)

.position-title
  display: flex
  justify-content: space-between
  padding: 0 calc(vars.$padding * 2)

.option
  border-radius: vars.$border-radius
  color: vars.$menubar-font-color

.disabled, .mini-icon, .divider
  color: vars.$font-color

.mini-icon
  align-self: center

.divider
  margin: vars.$padding calc(vars.$padding * 2)
  border-bottom: calc(vars.$border-thickness / 2) solid vars.$font-color

#apple-menu, #finder-menu, #file-menu, #edit-menu, #view-menu, #go-menu, #window-menu, #help-menu
  i
    font-size: $menubar-icon-size
    
  .option, .disabled
    padding: calc(vars.$padding / 4) calc(vars.$padding * 2)

    &:first-child
      margin-top: calc(vars.$padding / 2)

    &:last-child
      margin-bottom: calc(vars.$padding / 2)

  .option
    i
      color: vars.$menubar-font-color

    &:hover
      background-color: vars.$secondary-button-color

      .mini-icon
        color: vars.$menubar-font-color

  .disabled
    i
      color: vars.$font-color

    &:hover
      background-color: transparent

    .mini-icon
      color: vars.$font-color

#wifi-menu
  padding: vars.$padding

  .top, .option
    padding: vars.$padding calc(vars.$padding * 2)

  .title
    color: vars.$menubar-font-color
    font-size: 1.35rem
    font-weight: 600    

  .option
    .icon, .icon-selected
      border-radius: 100%
      padding: calc(vars.$padding * 1.25)

    .icon-selected
      background-color: vars.$secondary-button-color

    .icon
      background-color: vars.$font-color

    .mini-icon
      font-size: $menubar-icon-size

    &:hover
      background-color: rgba(255, 255, 255, 0.1)

  .divider-last
    margin: vars.$padding 0
    border-bottom: calc(vars.$border-thickness / 2) solid vars.$font-color

  .subtitle, .select-subtitle
    font-size: 1.15rem
    font-weight: 700
    color: vars.$font-color

  .subtitle
    padding: 0 calc(vars.$padding * 2)

  .select-subtitle
    padding: calc(vars.$padding / 2) calc(vars.$padding * 2)
    border-radius: vars.$border-radius

    &:hover
      background-color: rgba(255, 255, 255, 0.1)

#playlist
  .playlist-player, .playlist-buttons
    display: flex
  
  .playlist-buttons
    justify-content: space-evenly
    padding: calc(vars.$padding / 2.25) vars.$padding calc(vars.$padding * 1.5) vars.$padding

  i
    color: vars.$menubar-font-color
    font-size: 1.6rem

#help-menu
  .searchbar
    @include mix.searchbar(100%, 2rem, rgba(255, 255, 255, 0.1), 1.1rem, calc(vars.$padding / 2), rgba(255, 255, 255, 0.8))
    padding: vars.$padding

.selected-menu
  background-color: rgba(255, 255, 255, 0.2)