@use "variables" as vars
@use "mixins" as mix

$height: min-content //48rem
$width: 43rem
$min-width: 40rem
$min-height: 14rem
$window-padding: 1.4rem
$cursor-blink: 1s
$terminal-color: #0d2a34
$arrow-color: #40E800
$username-color: #56F2E6

#mac-terminal
  font-family: vars.$terminal-font
  @include mix.window($terminal-color, $width, $height, $min-width, $min-height)

  .header
    @include mix.header(none, vars.$header-height, 0 $window-padding)

    &__title
      @include mix.header-title($window-padding, 0.6rem)

    &__empty
      @include mix.header-spacing()
  
  .body
    font-size: 1.22rem
    height: calc(100% - vars.$header-height)
    overflow: auto
    padding: 0 $window-padding $window-padding $window-padding

    &__row
      line-height: 1.79rem
      display: flex
      align-items: center

      a
        color: vars.$font-color
      
      &-banner
        // font-size MUST equal line-height for banner to format correctly
        font-size: 0.7rem
        line-height: 0.7rem
        padding: vars.$padding 0

      &-arrow
        width: 0.8rem
        height: 0.6rem
        background-color: $arrow-color
        clip-path: polygon(0% 30%, 60% 30%, 60% 0%, 100% 50%, 60% 100%, 60% 70%, 0% 70%)
        margin-right: 0.8rem

      &-name
        color: $username-color

      &-accent
        color: vars.$secondary-font-color

      &-git
        &--label
          color: #2D9CDB
        &--branch
          color: #EB5757
        &--branch-detail
          color: #F2C94C
        &--branch-time
          color: #27AE60
        &--author
          color: #2D9CDB
      
      &-result
        margin-left: vars.$padding-2x
      
      &-cursor
        font-weight: bold
        will-change: transform
        transform: translateZ(0) // For older browsers or those that don't support `will-change`
        animation: $cursor-blink blink step-end infinite

      @keyframes blink
        from, to
          color: transparent

        50%
          color: vars.$font-color