version: 3
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "daily"
  commit-message:
    prefix: GitHub Actions

- package-ecosystem: "npm"
  directory: "/"
  schedule:
    interval: "daily"
  commit-message:
    prefix: npm