@use "variables" as vars

@mixin disable-select()
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

@mixin text-shadow($x: 0, $y: 0, $radius: 0.75rem, $color: rgba(0, 0, 0, 0.25))
    text-shadow: $x $y $radius $color

@mixin blur($blur-strength: 0.8rem, $background: vars.$dock-menu-background)
    -webkit-backdrop-filter: blur($blur-strength)
    backdrop-filter: blur($blur-strength)
    background: $background

    // @supports (backdrop-filter: $blur-strength) or (-webkit-backdrop-filter: $blur-strength)
    //     backdrop-filter: blur($blur-strength)
    //     -webkit-backdrop-filter: blur($blur-strength)

    // // Fallback for browsers that don't support backdrop-filter
    // @supports not ((backdrop-filter: $blur-strength) or (-webkit-backdrop-filter: $blur-strength))
    //     background-color: $fallback-color

@mixin window($body-color, $width, $height: min-content)
    background: $body-color
    display: none
    inline-size: -webkit-min-content
    inline-size: -moz-min-content
    inline-size: min-content
    position: absolute
    inset: 0
    border-radius: 1rem
    width: $width
    height: $height
    max-width: 100%
    max-height: 100%
    word-wrap: break-all
    overflow-y: hidden
    overflow-x: auto
    text-wrap: wrap
    overflow-wrap: anywhere
    -webkit-box-shadow: vars.$box-shadow
    box-shadow: vars.$box-shadow

    // FIXME Minimize button
    &.minimize
        // transform: translateY(82%) translateX(0%) scale(0.75)
        // opacity: 1
        // //top: 125%
        // transition: all 0.25s

        // &:hover
        //   top: -4rem
        //   transition: all 0.25s

    // FIXME Maximize button
    &.maximize
        // height: 100%
        // max-height: 100%
        // width: 100%
        // max-width: 100%
        // transition: all 0.25s
        // transform: translateY(0%) translateX(0%) scale(1)

@mixin header($bg-color: none, $height: 3rem, $padding: 2rem 1.4rem 1.4rem 1.4rem)
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    position: relative
    -webkit-box-pack: justify
    -ms-flex-pack: justify
    justify-content: space-between
    background: $bg-color
    height: $height
    padding: $padding

    &__op
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center

        &-icon
            width: vars.$window-icons-dim
            height: vars.$window-icons-dim
            border-radius: 50%
            font-size: 1rem
            font-weight: bold
            cursor: default

            a
                visibility: hidden

            &:hover a
                visibility: visible

            &:not(:last-child)
                margin-right: vars.$windows-icons-spacing

            &--red
                background-color: var(--red, #FF544D)

                &:active
                    background: var(--red-active, #c14645)
                            
            &--yellow
                background-color: var(--yellow, #FFB429)

                &:active
                    background: var(--yellow-active, #c08e38)
                            
            &--green
                background-color: var(--green, #25C63A)

                &:active
                    background: var(--green-active, #029740)
                
    &__empty
        width: calc(calc(vars.$window-icons-dim * 3) + calc(vars.$windows-icons-spacing * 2)) // 5.6rem = 1.4rem * 3 + (.7rem * 2)