@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&display=swap")

$max-width: 600px
$height: 80vh
$padding: 20px
$title-weight: 700
$font-weight: 400
$font-color: #00aa00
$font-size: 14px
$background-color: #222 //rgb(51, 47, 47)
$content-color: #111
$nav-width: 100%
$nav-margin-bottom: 17px
$cursor-blink: 1s
$letter-spacing: -2px
$font-family: "Noto Sans Mono", monospace