// FONTS
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Open Sans', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'
$terminal-font: "Source Code Pro", monospace
$cursor-blink: 1s
$letter-spacing: -2px

// COLORS
$selection-color: #0080FF
$foreground-color: #00a5e0
$background-color: #572365
$content-color: #111
$font-color: #95a0a0 // #FFF
$secondary-font-color: #95a0a0
$terminal-color: #0d2a34 //#000
$arrow-color: #40E800
$username-color: #56F2E6
$dock-menu-background: rgba(83, 83, 83, 0.45)
$menubar-font-color: rgba(255, 255, 255, 0.95)
$box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.6), 0 2rem 6.5rem 0.4rem rgba(0, 0, 0, 0.56), 0 0 0 0.1rem rgba(0, 0, 0, 0.0) //box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56)
$background-gradient: radial-gradient($background-color, $foreground-color 225%)

// DIMENSIONS
$max-width: 595px
$height: 42rem
$width: 47rem
$min-width: 40rem
$min-height: 14rem
$menubar-height: 3rem // 25px
$header-height: 4rem
$window-icons-dim: 1.3rem
$windows-icons-spacing: 0.85rem