// FONTS
$font-family: "San Francisco" // "Arial", sans-serif
$terminal-font: "Source Code Pro", monospace
$font-size: 60%
$cursor-blink: 1s
$letter-spacing: -2px

@font-face
  font-family: "San Francisco"
  font-weight: 400
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff")

@font-face
  font-family: "San Francisco"
  font-weight: 800
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff")

// COLORS
$selection-color: #0080FF
$background-color: #00a5e0
$foreground-color: #572365
$content-color: #111
$font-color: #95a0a0 // #FFF
$secondary-font-color: #95a0a0
$terminal-color: #0d2a34 //#000
$arrow-color: #40E800
$username-color: #56F2E6
$menubar-font-color: rgba(255, 255, 255, 0.95)
$background-gradient: radial-gradient($background-color, $foreground-color 120%)

// BUTTON COLORS
$close-button: #FF544D
$close-button-border: #DA3C37
$minimize-button: #FFB429
$minimize-button-border: #F0A318
$maximize-button: #25C63A
$maximize-button-border: #12A025

// DIMENSIONS
$max-width: 600px
$height: 50rem
$width: 65rem // 70rem
$padding: 20px
$nav-width: 100%
$nav-margin-bottom: 17px
$menubar-height: 30px // 25px
$menubar-padding: 10px
$dock-width: 60px
$dock-border-radius: 16px
$menubar-icon-size: 10.5px

$num-apps: 7

// POPUP DIMENSIONS
$popup-border-radius: 12px 12px 0 0
$popup-font-size: 12px