@use "mixins" as mix
@use "variables" as vars

$body-color: rgba(30, 30, 30, 0.85)
$button-size: 4.2rem

.button
  height: $button-size
  width: $button-size
  margin: calc($button-size / 20)
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  border-radius: 50%
  background-color: rgb(107, 114, 128)
  font-family: vars.$font-family

  button
    width: 100%
    height: 100%

.calc
  @include mix.window($body-color, 20rem)
  @include mix.blur(1.3rem, $body-color)

  .calc-header
    @include mix.header(none, 3rem)