$dock-width: 60px
$dock-icon-dim: 50px
$dock-icon-hover: calc($dock-icon-dim * 1.05) // 75px
$dock-border-radius: 16px
$tooltip-color: rgba(0, 0, 0, 0.5)
$num-apps: 7

.dock
  width: $dock-width
  height: auto
  border-radius: $dock-border-radius
  display: flex
  justify-content: center
  position: absolute
  bottom: 10px
  left: 50%
  z-index: 10
  transform: translateX(-50%)

  .dock-container
    padding: 5px 1px 6px 5px
    width: auto
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    border-radius: $dock-border-radius
    background: rgba(83, 83, 83, 0.25)
    backdrop-filter: blur(13px)
    -webkit-backdrop-filter: blur(13px)
    border: 1px solid rgba(255, 255, 255, 0.05)

    a
      cursor: default

    .li-bin
      margin-left: 5px
      border-left: 1.5px solid rgba(255, 255, 255, 0.15)

    .li-1
      &::after
        position: absolute
        width: 5px
        height: 5px
        border-radius: 50%
        background: rgba(255, 255, 255, 0.5)
        content: ""
        bottom: 2px
    
    li
      list-style: none
      display: flex
      align-items: center
      justify-content: center
      width: $dock-icon-dim
      padding: 3px
      height: $dock-icon-dim
      vertical-align: bottom
      transition: 0.25s
      transition-property: all
      transition-timing-function: ease
      transition-duration: 0.25s
  
      .name
        position: absolute
        top: -29px
        background: $tooltip-color
        color: rgba(255, 255, 255, 0.9)
        //height: 10px
        font-size: 13px
        padding: 2px 11px
        display: flex
        align-items: center
        justify-content: center
        border-radius: 5px
        visibility: hidden

        &::after
          content: ""
          position: absolute
          bottom: -6px
          width: 0
          height: 0
          backdrop-filter: blur(13px)
          -webkit-backdrop-filter: blur(13px)
          border-left: 6px solid transparent
          border-right: 6px solid transparent
          border-top: 6px solid $tooltip-color

      .ico
        width: 100%
        height: 100%
        object-fit: cover
        transition: 0.2s
        
@for $i from 1 through $num-apps
  .li-#{$i}:hover
    .name
      visibility: visible !important