@use "variables" as vars
@use "mixins" as mix

$email-body-color: rgb(32, 35, 32)
$email-accent-color: rgb(54, 56, 54)
$email-title-color: rgb(155, 156, 154)
$email-tab-color: rgb(55, 56, 55)

//linear-gradient(to bottom, #C7C6C7 0%, #C2C0C2 100%);

.email
  @include mix.window($email-tab-color, vars.$width, vars.$height)
  min-width: vars.$min-width
  min-height: vars.$min-height
  font-size: 1.3rem
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -ms-flex-direction: column
  flex-direction: column
  -ms-flex-line-pack: stretch
  align-content: stretch

  .mail-header
    @include mix.header(none, 4rem, 0 1.4rem)

    button
      color: white
      float: right

      i
        font-size: 1.7rem      

  .middle
    padding: 0 1.5rem
    background: $email-body-color
    overflow: auto
    color: $email-title-color
    width: 100%

    input
      display: inline-block
      background: none
      color: white
      width: 100%

    .subject
      width: 100%
      border-bottom: 1px solid $email-accent-color
      display: block
      padding: 0.7rem 0.2rem
      font-weight: 500

      label
        float: left

        &:after
          content: ": "

      .right
        overflow: hidden
        display: block
        padding-left: 3px
          
  .body
    color: white
    -webkit-box-flex: 1
    -ms-flex: 1
    flex: 1
    display: block
    width: 100%
    background: $email-body-color
    padding: 0.7rem 1.7rem
    overflow: auto
    color: white

  textarea
    background: none
    resize: none
    outline: none

    &::placeholder
      color: white

.honeypot-field
  display: none

// cursor
.loader
  position: absolute
  display: none
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 2.5rem
  height: 2.5rem
  border-radius: 50%
  overflow: hidden
  animation: animate 0.5s linear infinite

  span
    position: absolute
    width: 100%
    height: 100%
    background: #f00
    left: 50%
    border-radius: 50%
    transform-origin: left

    &:nth-child(1)
      background: #0fa503
      transform: rotate(0deg)
      z-index: 2

    &:nth-child(2)
      background: #ffd203
      transform: rotate(60deg)
      z-index: 3

    &:nth-child(3)
      background: #54cd28
      transform: rotate(120deg)
      z-index: 4

    &:nth-child(4)
      background: #129cf5
      transform: rotate(180deg)
      z-index: 5

    &:nth-child(5)
      background: #bb5ed3
      transform: rotate(240deg)
      z-index: 6

    &:nth-child(6)
      background: #ff4f45
      transform: rotate(300deg)
      z-index: 7
      overflow: hidden

      &:before
        content: ''
        position: absolute
        top: 45px
        left: -72px
        width: 100%
        height: 100%
        background: #ffd203
        border-radius: 50%
        z-index: 2

      &:after
        content: ''
        position: absolute
        top: 42px
        left: -23px
        width: 100%
        height: 100%
        background: #fea503
        border-radius: 50%

@keyframes animate
  0%
    transform: translate(-50%, -50%) rotate(0deg)

  100%
    transform: translate(-50%, -50%) rotate(360deg)