@use "variables" as vars

$menubar-padding: 0.55rem
$menubar-icon-size: 1.1rem

.menu-bar
  width: 100%
  height: vars.$menubar-height
  padding: 0.2rem
  position: fixed
  user-select: none
  font-size: 1.24rem
  top: 0
  left: 0
  display: flex
  align-items: center
  justify-content: space-between
  background: vars.$dock-menu-background
  backdrop-filter: blur(50px)
  -webkit-backdrop-filter: blur(50px)

  i
    display: contents
    color: #FFF

  .left
    display: flex
    align-items: center
    justify-content: space-evenly
    width: auto
    left: 0
    padding-left: calc($menubar-padding + 0.25rem)

    .menus
      height: 100%
      display: flex
      padding: 0 $menubar-padding
      color: vars.$menubar-font-color

      i
        font-size: calc($menubar-icon-size + 0.5rem)

      &:active
        border-radius: 0.5rem
        background: rgba(255, 255, 255, 0.2)

    .active
      font-weight: bold
      color: #FFF !important

  .right
    display: flex
    justify-content: space-evenly
    width: auto
    margin-right: calc($menubar-padding + 0.25rem)

    .menu-time, .menu-ico
      padding: $menubar-padding
      height: 100%
      justify-content: center
      color: vars.$menubar-font-color
      
      &:active
        border-radius: 0.5rem
        background: rgba(255, 255, 255, 0.2)

    .menu-ico
      margin-top: calc($menubar-padding - 0.1rem)
      display: flex
      align-items: center
      
      i
        font-size: $menubar-icon-size