@use "variables" as vars
@use "mixins" as mix

$menubar-padding: 0.55rem
$menubar-icon-size: 1.1rem

.menu-bar
  @include mix.blur(5rem, vars.$dock-menu-background)
  @include mix.disable-select()
  width: 100%
  height: vars.$menubar-height
  padding: 0.2rem
  position: fixed
  font-size: 1.24rem
  top: 0
  left: 0
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between

  i
    display: contents
    color: #FFF

  .left
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    -webkit-box-pack: space-evenly
    -ms-flex-pack: space-evenly
    justify-content: space-evenly
    width: auto
    left: 0
    padding-left: calc($menubar-padding + 0.25rem)

    .menus
      height: 100%
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      padding: calc($menubar-padding / 2) $menubar-padding
      color: vars.$menubar-font-color

      i
        font-size: calc($menubar-icon-size + 0.5rem)

      &:active
        border-radius: 0.5rem
        background: rgba(255, 255, 255, 0.2)

    .active
      font-weight: bold

  .right
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-pack: space-evenly
    -ms-flex-pack: space-evenly
    justify-content: space-evenly
    width: auto
    margin-right: calc($menubar-padding + 0.25rem)

    .menu-time, .menu-ico
      padding: $menubar-padding
      height: 100%
      -webkit-box-pack: center
      -ms-flex-pack: center
      justify-content: center
      color: vars.$menubar-font-color
      
      &:active
        border-radius: 0.5rem
        background: rgba(255, 255, 255, 0.2)

    .menu-ico
      margin-top: calc(calc($menubar-padding * 7) / 11) // initially * 0.2rem
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      -webkit-box-align: center
      -ms-flex-align: center
      align-items: center
      
      i
        font-size: $menubar-icon-size