@use "variables" as vars
@use "mixins" as mix

$header-color: rgb(56, 58, 55)
$style-bar-color: rgb(32, 34, 31)
$body-color: rgb(30, 30, 30)
$separator-color: rgba(255, 255, 255, 0.25)
$width: 48.9rem
$height: 45rem

select
  background: $header-color
  color: vars.$font-color
  border-radius: 5px

.text-edit
  @include mix.window($body-color, $width, $height)
  min-width: vars.$width
  min-height: vars.$min-height
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -ms-flex-direction: column
  flex-direction: column
  -ms-flex-line-pack: stretch
  align-content: stretch

  .bold
    font-weight: bold

  .italic
    font-style: italic

  .underline
    text-decoration: underline

  .left
    text-align: left

  .center
    text-align: center

  .right
    text-align: right

  .justify
    text-align: justify

  .notes-header
    @include mix.header($header-color, 3rem)

    &__title
      @include mix.disable-select()
      color: vars.$font-color
      font-family: "Arial", sans-serif
      font-size: 1.35rem
      font-weight: bold

      img
        display: inline
        width: 1.36rem
        height: 1.36rem
        margin-right: 0.24rem
        vertical-align: middle
  
  .styles
    background: $header-color
    width: 100%
    overflow: hidden

    .drops
      padding: 0.5rem

      input[type='color']
        vertical-align: middle
        margin-left: 0.3rem
        margin-top: 0.25rem
        width: 1.9rem
        height: 1.9rem
        background: none
        border-radius: 0.5rem
        border: none
        outline: none

        &::-webkit-color-swatch-wrapper
          padding: 0

        &::-webkit-color-swatch
          border: 0.5px solid $separator-color
          border-radius: 0.5rem

      i
        width: 2.5rem
        font-size: 1.1rem
        float: left
        border-right: 0.5px solid $separator-color
        text-align: center

        &:last-child
          border-right: 0

      .drop--element
        margin-right: 0.5rem
        border-radius: 0.5rem

      .drop--styles
        position: relative
        overflow: hidden
        padding: 0.4rem 0.6rem
        font-size: 1.2rem
        border: 0.5px solid $separator-color
        float: left

      .drop--decorations, .drop--alignments
        position: relative
        display: block
        
      .drop--decorations
        i
          padding: 0.65rem 0.9rem

      .drop--alignments
        margin: 0

        i
          padding: 0.65rem 0

  .rule
    position: relative
    height: 1.5rem
    width: 100%
    float: left
    background: $style-bar-color
    font-family: vars.$terminal-font
    border-top: 0.5px solid vars.$font-color
    border-bottom: 0.5px solid vars.$font-color
    margin-top: 1.5rem
    padding-left: 0.5rem

    &:before
      content: "\00a0|"
      font-size: 1rem
      position: absolute
      top: -1rem
      left: 0.2rem
      height: 0.2rem
      width: 0.8rem
      background: vars.$font-color

    .inch, .half-inch
      display: block
      position: relative
      width: 7.27rem
      float: left
      font-size: 0.9rem
      border-left: 1px solid vars.$font-color
      padding-left: 0.3rem

      &:before
        content: ""
        display: block
        position: absolute
        width: 0
        height: 0
        border-top: 0.4rem solid transparent
        border-left: 0.5rem solid vars.$font-color
        border-bottom: 0.4rem solid transparent
        top: -0.9rem
        left: -0.1rem

      &:after
        content: "\00a0\00a0\00a0\00a0|\00a0\00a0\00a0\00a0|\00a0\00a0\00a0\00a0|"
        font-size: 0.6rem
        font-weight: bold
        width: 100%
        position: absolute
        top: -0.1rem
        left: 0.2rem
        height: 0.3rem

    .inch:first-child:before, .inch:last-child .half-inch:before
      border-left: 0.4rem solid transparent
      border-top: 0.5rem solid vars.$font-color
      border-right: 0.4rem solid transparent
      top: -0.6rem
      left: -0.4rem

    .half-inch
      display: block
      width: 3.6rem
      height: 0.4rem
      float: right

  .text-body
    font-size: 1.3rem
    -webkit-box-flex: 1
    -ms-flex: 1
    flex: 1
    color: white
    padding: 0 0.5rem
    overflow: scroll

    a
      @include mix.text-shadow(0, 0, 1rem, vars.$foreground-color)

    table
      width: 100%
      max-width: -moz-fit-content
      max-width: fit-content
      overflow-x: auto
      border: 1px solid white
      border-collapse: collapse
      background-color: black

      td
        padding: 0.5rem
        border: 1px solid white
    
      tbody tr
        &:nth-child(odd)
          background-color: rgba(255, 255, 255, 0.1)
        
        &:nth-child(even)
          background-color: rgba(255, 255, 255, 0.2)