@use "variables" as vars

$folder-padding: 2rem

// RESET
*, *::before, *::after
  box-sizing: border-box
  margin: 0
  padding: 0

// BASIC
html
  font-size: 60%
  height: 100%

html, body, header, footer
  width: 100%

main
  flex: auto
  overflow: auto

body
  display: flex
  flex-direction: column
  font-family: vars.$font-family
  font-variation-settings: "wdth" 100
  font-optical-sizing: auto
  line-height: 1.8
  color: vars.$font-color
  background-color: vars.$background-color
  background-image: vars.$background-gradient
  height: 100vh
  //overflow: hidden
  
  // Adds a repeating grid pattern to the background
  // to mimic the look of a real terminal
  // &::after
  //   content: ""
  //   position: absolute
  //   top: 0
  //   left: 0
  //   width: 100vw
  //   height: 100vh
  //   background: repeating-linear-gradient(0deg, rgba(black, 0.15), rgba(black, 0.15) 1px, transparent 1px, transparent 2px)
  //   pointer-events: none

a
  text-decoration: none
  color: vars.$secondary-font-color
  cursor: pointer

canvas
  display: block
  vertical-align: bottom

::selection
  background: vars.$selection-color
  text-shadow: none

.folder
  gap: $folder-padding
  justify-content: flex-start
  padding-top: calc(vars.$menubar-height + $folder-padding)
  padding-right: $folder-padding
  align-items: flex-end
  flex-direction: column
  display: flex

  &-button
    cursor: default //pointer
    -webkit-appearance: button
    background-color: transparent
    background-image: none
    border: none

    &:active
      filter: brightness(75%)

    &-item
      align-items: center

      img
        object-fit: contain
        max-width: 100%
        display: block
        width: 6rem
        height: 6rem

      span
        text-align: center
        -webkit-line-clamp: 2
        overflow: hidden
        display: -webkit-box
        font-size: 1.24rem
        user-select: none
        color: vars.$menubar-font-color
        -webkit-box-orient: vertical

// BACKGROUND PARTICLES
#particles-js
  position: absolute
  width: 100%
  height: 100%
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 50%