@use "variables" as vars
@use "mixins" as mix

pre
  font-family: vars.$terminal-font

.mac-terminal
  @include mix.window(vars.$terminal-color, vars.$width)
  display: none
  font-family: vars.$terminal-font
  min-width: 407px
  min-height: 140px

  .header
    @include mix.header(none, 4rem, 0 1.4rem)

    &__title
      color: vars.$font-color
      font-family: "Arial", sans-serif
      font-size: 1.3rem
      font-weight: bold
      user-select: none

      img
        display: inline
        width: 1.3rem
        height: 1.3rem
        margin-right: 0.6rem
        vertical-align: middle
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(159deg) brightness(105%) contrast(105%)
  
  .body
    font-size: 1.22rem
    height: vars.$height
    overflow: scroll

    &__row 
      margin-top: 0.2rem
      line-height: 1.79rem
      padding: 0 2rem
      display: flex
      align-items: center

      a
        color: vars.$font-color
      
      &-banner
        // font-size MUST equal line-height for banner to format correctly
        font-size: 0.7rem
        line-height: 0.7rem
        padding: 0.6rem 0

      &-arrow
        width: 0.8rem
        height: 0.6rem
        background-color: vars.$arrow-color
        clip-path: polygon(0% 30%, 60% 30%, 60% 0%, 100% 50%, 60% 100%, 60% 70%, 0% 70%)
        margin-right: 0.8rem

      &-name
        color: vars.$username-color

      &-accent
        color: vars.$secondary-font-color

      &-git
        &--label
          color: #2D9CDB
        &--branch
          color: #EB5757
        &--branch-detail
          color: #F2C94C
        &--branch-time
          color: #27AE60
        &--author
          color: #2D9CDB
      
      &-result
        margin-left: 1rem
      
      &-cursor
        font-weight: bold
        animation: vars.$cursor-blink blink step-end infinite

      @keyframes blink
        from, to
          color: transparent

        50%
          color: vars.$font-color